<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>

<body>
    {{>header}}
    <div class="excuse">{{excuseString}}</div>
    {{>footer}}
</body>

</html>